<% if user.errors.any? %>
  <div id="error_explanation">
    <h3 class="alert"><%= pluralize(user.errors.count, "個のエラーが発生しました。") %> </h3>
    <ul>
      <% user.errors.full_messages.each do |message| %>
        <li class="alert"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
