<table class="table-layout" border="1">
  <thead>
    <tr>
      <th class="th-layout">プロフィール画像</th>
      <th class="th-layout">名前</th>
      <th class="th-layout" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% users.each do |user| %>
      <tr>
        <td class="search-info"><%= attachment_image_tag(user, :image, :fill, 50, 50, fallback: "no-image.jpg") %></td>
        <td class="search-info"><%= user.name %></td>
        <td class="search-info"><%= link_to '詳細画面へ', user_path(user), class: "user_#{user.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
