<div class="main-visual">
  <div class="main-visual-content">
    <img src='assets/top-visual.jpg' alt="">
    <p class="main-visual-text">
      笑って</br>
      楽しく</br>
      英語を</br>
      学ぼう
    </p>
  </div>
  <h2>WHAT IS "Learghing" ?</h2>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div>英語が嫌いでも、お笑いが好きなら、いつの間にか英語を学ぶことが楽しくなっているはずです。</div>
      </div>
  
      <div class="col-lg-4">
        <div>みんなが投稿した面白い英文を読んで笑うだけで、その知識はあなたのものになります。</div>
      </div>
      <div class="col-lg-4">
        <div>慣れてきたら次は面白い英文を考えてアウトプットしましょう。想像力とライティングスキルが向上します。</div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">

      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">

      </div>
    </div>

  </div>



    <%= link_to 'ゲストログイン（閲覧用）', homes_guest_sign_in_path, method: :post, class:"btn btn-info" %>
</div>