<div class="main-visual">
  <div class="main-visual-content">
    <img src='assets/top-visual.jpg' alt="">
    <p class="main-visual-text">
      笑って</br>
      楽しく</br>
      英語を</br>
      学ぼう
    </p>
  </div>
  <h2>WHAT IS "Learghing" ?</h2>

</div>