/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


.search-form {
	padding: 5px;
	display: flex;
	justify-content: flex-end;
}

table {
  border-collapse: collapse;
  width: 1000px;
  font-size: 12px;
  margin: 70px;
  text-align: center;
}
table th {
  color: black;
  background-color: lightgray;
  padding: 10px;
  text-align: center;
}
table td {
  color: black;
  background-color: #F5F5F5;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.heading {
    text-align: center;
}

body{
	margin-top:51px;
	background-color: #FFFF99;
}

// topページ
.main-visual {
    width: 100%;
    position: relative;
}

.main-visual p {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  font-weight: bold;
  font-size: 40px;
  font-family :Quicksand, sans-serif;/*Google Font*/
  padding-top: 105px;
  padding-left: 200px;
}

.main-visual img {
  width: 100%;
  height: 600px;
  }

.main-visual-text {

}

// ハンバーガーメニュー
#hm-icon {
  position: fixed;
  right: 30px;
  top: 10px;
  z-index: 10;
}

.nav_toggle {
    display: block;
    position: absolute;
    right: 13px;
    top: 10px;
    width: 42px;
    height: 51px;
    cursor: pointer;
    z-index: 3;
    text-align: center;
    // background-color: #CCFF99;
}
.nav_toggle i {
    // display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    position: absolute;
    display: inline-block;
    transition: all .4s;
}
.nav_toggle i:nth-child(1) {
    top: 0;
}
.nav_toggle i:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
}
.nav_toggle i:nth-child(3) {
    bottom: 0;
}

.nav_toggle.show i:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
}
.nav_toggle.show i:nth-child(2) {
    opacity: 0;
}
.nav_toggle.show i:nth-child(3) {
    transform: translateY(-12px) rotate(45deg);
}

.nav {
    background: rgba(0,0,0,0.8);
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 98;
}
.nav_wrap {
    align-items:center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
}
.nav_menu_ul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 170px;
}

.nav_menu_li {
    margin: 40px 0;
}

.nav_menu_li .nav_toggle{
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    transition: .5s;
}

.nav_menu_li .nav_toggle:hover{
    color: #666;
}

.nav.show {
    opacity: 1;
    visibility: visible;
}

// ユーザー詳細
.profile-name {
  font-size: 30px;
  text-align: center;
  margin: 10px auto;
}

.follow-number {
  font-size: 15px;
  text-align: center;
  margin: 10px auto;
}

.follow-button {
  text-align: center;
}

.user-info {
  text-align: center;
}

.user-info .image {
  border-radius: 50%;
}

.border {
  border: 2px solid #BBBBBB;
  margin: 10px;
}

.profile-heading {
  font-size: 20px;
  text-align: center;
  margin: 10px auto;
}

.output-button {
   margin: 30px auto;
}

.main-box {
  display: flex;
  flex-wrap: row wrap;
}

.sentence-image .image {
  max-width:100%;
	height: auto;
	margin: 10px;
	border:solid 1px #ccc;
}

.sentence {
  display: flex;
  flex-wrap: row wrap;
  font-size: 20px;
  margin: 10px;
}


// 投稿詳細
.main-image {
  text-align: center;
}

.post-info {
  margin: 10px auto auto 140px;
}

.post-info .image {
  border-radius: 50%;
}

.main-sentence {
  text-align: center;
  padding-top: 15px;
  font-size: 40px;
}

.main-meaning {
  text-align: center;
  font-size: 20px;
  margin: 50px;
}

footer {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: #848282;
}

.footer-text {
  color: #fff;
}